@import url('https://fonts.googleapis.com/css?family=Cabin:400,600|Work+Sans|Reem+Kufi:300,400,600');
@import 'bootstrap-overrides';
@import '../node_modules/bootstrap/scss/bootstrap';

$border-radius: 0.3rem;

$white: #fff;

$decaf-dark-blue: #237EF1;
$decaf-light-blue: #34D9F7;
$decaf-dark-green: #1fd46d;
$decaf-light-green: #6CE5AB;
$tesc-blue: #004E74;
$light-purple: #C6AAE1;

$decaf-dark-yellow: #F17879;
$decaf-light-yellow: #F6B745;
$decaf-dark-red: #f24141;
$decaf-light-red: #e76d52;

$sandy: #9FD2E1;
$sky-blue: #F4E6CA;
$aqua-blue: #4592AD;
$deep-blue: #1F6077;

$hero-bg: linear-gradient(-45deg, $sandy 40%, $sky-blue);
$schedule-bg: linear-gradient($aqua-blue, $deep-blue);
$decaf-gradient: linear-gradient(to right top, $decaf-dark-blue, $decaf-light-blue);
$decaf-yellow-gradient: linear-gradient(to right top, $decaf-dark-yellow, $decaf-light-yellow);
$decaf-red-gradient: linear-gradient(to right top, $decaf-dark-red, $decaf-light-red);

$link-active: $white;
$link-inactive: transparentize($link-active, 0.2);

$header-color: #5A5A5A;

$hero-font-color: $white;

$contact-underline: #FEEFAE;

$faq-border-color: #E1E1E1;
$faq-question-color: #78777C;

$company-table-header-color: #F5F8FA;
$company-table-header-text: #A4A8AC;

$dark-blue: #0D5166;
$default-green: #3FC0B0;
$default-yellow: #FFD07E;
$default-blue: #75C8DC;
$default-red: #F87373;
$default-purple: #AA8DC5;

$default-shadow-color: rgba(12, 42, 51, 0.3);
$default-shadow: 0 2px 16px $default-shadow-color;
$extended-shadow: 0 2px 22px $default-shadow-color;

$contact-gradient: linear-gradient(to right bottom, $light-purple 33%, $default-purple);
