@import 'base';

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Reem Kufi', Helvetica, Roboto, Arial, sans-serif;
  font-weight: 600;
}

#app {
	display: flex;
	height: 100%;
	flex-direction: column;
}

main {
	flex: 1;
}

h1 {
  font-size: 1.8rem;
  color: $header-color;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

#mlh-trust-badge {
  display:block;
  max-width:80px;
  min-width:60px;
  position:fixed;
  right:50px;
  top:0;
  width:10%;
  z-index:10000;

  @include media-breakpoint-down(md) {
    left: 1rem;
  }
}

@import 'components/all';