.about {

	background: $aqua-blue;
	transform: translateY(-1px);
	color: white;
	font-size: 1.3rem;

  &__wave {
  	width: 81.5%;
  	transform: translateY(-1px);
  }

  &__title {
  	font-size: 3rem;
  	font-family: 'Reem Kufi', Helvetica, Roboto, Arial, sans-serif;
  }

  &__graphic {
  	width: 100%;
  	display: block;

  	@include media-breakpoint-down(sm) {
  		width: 50%;
  		min-width: 20rem;
  		margin: 0 auto;
  	}
  }

  &__collab {
  	color: #9e3d30;
  }

  &__empower {
  	color: #F9AE70;
  }

  &__innovate {
  	color: #006699;
  }

  &__container {
  	max-width: 1024px;
   	@include media-breakpoint-down(sm) {
   		text-align: center;
  	} 	
  }
}