.accordian {
  position: relative;
  width: 100%;
  color: $faq-question-color;
  overflow: hidden;
  padding: 0.25rem 1rem;

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;

    & + .accordian__label::after {
      content: "+";
    }

    &:checked ~ .accordian__content {
      max-height: 100rem;
      padding: 1.8rem 2rem;
      border-width: 2px;
      transition: max-height .35s, padding 0s, border-width 0s;
    }

    &:checked + .accordian__label::after {
      transform: rotate(135deg);
    }
  }

  &__label {
    position: relative;
    display: block;
    padding: 1rem 5rem 1rem 2rem;
    border-radius: $border-radius;
    border: 2px solid $faq-border-color;
    font-weight: 500;
    line-height: 2rem;
    text-align: left;
    cursor: pointer;
    font-size: 1.1rem;

    &::after {
      position: absolute;
      right: 1.5rem;
      top: 0;
      display: block;
      width: 1.5rem;
      height: 3.5rem;
      font-size: 2rem;
      color: $faq-border-color;
      line-height: 3.5rem;
      text-align: center;
      transition: transform .35s;
      transform-origin: center;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    border: 0 solid $decaf-dark-green;
    border-radius: $border-radius;
    text-align: left;
    padding: 0;
    transition: max-height .35s, padding 0s 0.24s, border-width 0s 0.24s;

    &--sponsor {
      border-color: $decaf-dark-blue;
    }
  }
}