.faq {

  transform: translateY(-2px);
  background: $sand-yellow;
  color: $tesc-blue;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;

  &__title {
    margin: 3rem 0;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__graphic {
    position: absolute;
    width: 100%;
    left: 4%;
    z-index:-1;
  }

  &__question {
    margin-bottom: 0.5rem;
  }

  &__item {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    z-index: 5;
    margin-top: 0.5rem;
    background: rgba(white, 0.4);
    padding: 1rem;
    border-radius: 2 * $border-radius;

    p {
      margin-bottom: 0.1rem;
    }
  }
}