.hero {
  width: 100%;
  background: $decaf-student-gradient;
  color: $hero-font-color;

  &--sponsor {
    background: $decaf-gradient;
    color: $hero-font-color;
  }

  @include media-breakpoint-up(md) {
    min-height: 30rem;
  }

  &__logo {
    width: 10rem;
    margin: 5rem 0 2rem;
  }

  &__location {
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  &__date {
    font-size: 1.1rem;
  }

  &__feature-image {
    padding-bottom: 3em;
  }
}