.hero {
  width: 100%;
  background: $hero-bg;
  color: $hero-font-color;
  min-height: 90vh;
  position: relative;

  &__graphic {
  	width: 100%;
  }

  &__content {
  	color: $tesc-blue;
  	position: absolute;
  	top: 20%;
  	left: 5%;
  	font-size: 2rem;

  	&-logo {
  		width: 100%;
  	}
  }
}