.hero {
  width: 100%;
  background: $hero-bg;
  color: $hero-font-color;
  min-height: 90vh;
  position: relative;

  &__graphic {
  	width: 100%;
    //transform: translateY(6px);
    z-index: 1;

  }
  &__content {
  	color: $tesc-blue;
  	position: absolute;
  	top: 18%;
  	left: 5%;
  	font-size: 2rem;
    z-index: 5;

  	@include media-breakpoint-down(md) {
  		top: 5%;
  	}

  	@include media-breakpoint-down(sm) {
  		font-size: 1.3rem;
  		text-align: center;
  		left: 0; 
  		right: 0; 
  		margin-left: auto; 
  		margin-right: auto; 
  	}

  	&-logo {
  		width: 100%;

  		@include media-breakpoint-down(sm) {
  			min-width: 10rem;
  			width: 30%;
  			display: block;
  			margin: 0 auto;
  		}
  	}

    &-text {
      margin-top: 3rem;

      @include media-breakpoint-down(sm) {
        margin-top: 1rem;
      }
    }
  }
}