.nav {
  min-height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 8;
  background-color: transparent;
  color: $tesc-blue;
  transition: background-color 0.2s linear;

  &__white {
    box-shadow: $default-shadow; 
    background-color: white;
  }

  &__white &__logo {
      display: block;
      height: 64px;
    }

  &__logo {
    display: none;
  }

  &__items {
    width: 94%;
    margin: 0 auto;
  }

  &__item {
    margin: 0 0.5rem;
  }
}