.white-button {
  width: 10rem;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
  background: $white;
  border: 2px solid $white;
  border-radius: $border-radius;
  color: $tesc-blue;
  display: inline-block;
  transition: background 100ms linear, color 100ms linear;
  box-shadow: $default-shadow;
  
  @include media-breakpoint-down(sm) {
    display: inline-block;
    margin: 0 auto;
    width: 7rem;
  }

  &:hover {
    cursor: pointer;
    background: transparent;
    color: $white;
    text-decoration: none;
    border-width: 2px;
    transform: translateY(-1px);
  }

  &--inline {
    display: inline;
    margin: 0;
    min-width: 0;
  }

}